body {
  font-family: "Ubuntu";
  text-align: center;
}
h1,h2,h3{
    font-family: 'Montserrat';
}
h2{
  color:#2F2933;
  font-weight: bolder;
}
h3{
  color:#345573;
}
h4{
  color: #cae8d5;
}

p{
  color:#8f8f8f;
  }
/* Headings */

.big-heading{
  font-family: 'Ubuntu', sans-serif;
  color:#004445;
  font-size: 3rem;
  line-height: 1.510;
}
/* Navigation Bar */

.navbar{
padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  color:#345573;
  font-weight: bold;
}
.nav-link{
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}
.nav-item{
  padding: 0 18px;
}

/* Buttons */

.download-button{
  margin:5% 3% 5% 0;
}

/* Containers */

.container-fluid{
  padding: 7% 15% ;
}
/* color section*/

.white-section{
  background-color: #fff;
}
/*title section */

  #title {
      background-color:#a4c5c6;
      padding-bottom: 10%;
      text-align: left;
  }

#title .container-fluid{
    padding: 3% 15% 7%;
  }


.title-img{
  transform: rotate(-15deg);
  width:90%;
  position: absolute;
  right: 10%;
}

/* Features Section */

#features{
  padding: 7% 10% 5% 10%;

  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#900c3f;
  margin-bottom: 1rem;
}

/* Testimonial Section */

#testimonials{
  padding:7% 15%;
  text-align: center;
  background-color:#aacfcf;
}
.carousel-img{
  width: 60%;
  border-radius: 100%;
}

#press{
  background-color:#aacfcf  ;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
}
.carousel-item{
  padding: 7% 0 3%;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}
.pricing-column{
   padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/*media query breakpoints*/

@media (max-width: 1062px) {
  #title{
    text-align: center;
    padding-bottom: 1%;
  }
  .title-img{
    padding-top:5%;
    position: static;
    transform:rotate(-15deg);
  }
}


/* Footer Section */


#cta{
  background-color: #900c3f;

  padding: 6% 14%;
  text-align: center;
}
.cta-heading{
  font-family: 'Montserrat';
}
#footer{
  padding: 6% 14%;
  text-align: center;
}
